.sidebar {
  flex: 3;
  height: calc(100vh - 3rem);
  border-right: solid 1px rgb(219, 214, 214);
}

.sidebarWrapper {
  padding: 30px;
}

.sidebarList {
  padding: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebarIcon {
  margin-right: 10px;
}

.sidebarBtn {
  border: none;
  padding: 8px 10px;
  height: 2rem;
  font-weight: 600;
  color: #3f51b5;
  background-color: #fff;
}

.sidebarHr {
  margin: 15px 0;
  border-top: solid 1px rgb(219, 214, 214);
}

.sidebarFriendList {
  list-style: none;
  padding: 0;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendIcon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
