.rightbar {
  flex: 4;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}
.birthdayContainer {
  display: flex;
  align-items: center;
}
.birthdayImg {
  width: 46px;
  height: auto;
  padding-right: 10px;
}
.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}
.suggestions h6 {
  margin-bottom: 15px;
}
.rightbarFriendList {
  list-style: none;
  padding: 0;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarFriendIcon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.rightbarFriendText {
  flex-grow: 1;
}

.rightbarFriendBtn {
  border: none;
  color: #3f51b5;
  background-color: transparent;
  font-weight: 600;
}
.footerContainer {
  color: #ccc;
  position: fixed;
  bottom: 20px;
}
.footerContainer span {
  padding-right: 6px;
  cursor: pointer;
  font-size: 14px;
}
